body{
    background-color:rgb(209,238,225) ;
}
.container{
    max-width: 700px ;
    margin: 10px auto ;
    padding: 150px;
    background-color:  rgb(231,246,240);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0, 0, 0.1);
}

label, input,button{
    display: block;
    margin-bottom: 10px;

}
input{
    width: 90%;
    padding: 10xp;
    border: 1px solid;
    border-radius: 5px;
}
button{
    background-color: cadetblue;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: beige;
}
.message{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.success{
    background-color: azure;
    color: black;
}
.error{
    background-color: rgb(160, 95, 95);
    color: aliceblue;
}